.pieContainer {
    height: 100px;
    position: relative;
  }
  
  .pieBackground {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
  } 
  
  .pie {
    transition: all 1s;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
  }
  
  .hold {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
  }
  
  #pieSlice1 .pie {
    background-color: rgb(195,61,62);
    transform:rotate(30deg); /* Determines the size */
  }
  #pieSlice1 {
    transform:rotate(0deg); /* Determines the place (should be the end of the last one + his size) */
  }
  
  #pieSlice2 .pie {
    background-color: rgb(223,158, 38);
    /* transform: rotate(90deg); */
  }

  #pieSlice2 {
    transform: rotate(30deg);
  }
  
  #pieSlice3 .pie {
    background-color: rgb(65, 159, 195);
    transform: rotate(180deg);
  }

  #pieSlice3 {
    transform: rotate(120deg);
  } 

  #pieSlice4 .pie {
    background-color: rgb(65, 159, 195);
    transform: rotate(61deg);
  }

  #pieSlice4 {
    transform: rotate(299deg);
  } 
  
  .innerCircle {
    position: absolute;
    width: 88px;
    height: 88px;
    background-color: var(--box-bg-color);
    border-radius: 100%;
    top: 6px;
    left: 6px; 
    color: white;
  }


.border{
  border: red 2px solid;
}





.wrapper {
	/* background: transparent;
	height: 200px;
	width: 290px;
	position: relative; */
}

.wrapper .donut {
	/* position: absolute;
	left: 120px;
	top: -25px; */
}

.donut-segment {
  animation-name: fill-in;
  animation-fill-mode: forwards;
  animation-duration: 2000ms;
/*   animation-timing-function: ease-in-out; */
/*   opacity: 0; */
}

@keyframes fill-in {
  from {
/*     opacity: 0; */
    stroke-dashoffset: 0;
  }
  to {
/*     opacity: 1; */
  }
}
