
<div class="row title align-items-center">
    <p class="col m-1 pl-2">Clear Web Types</p>
</div>
<div class="row content">
    <div class="col-1 ml-2">
        <h1 class="number mb-1 mt-2">{{ types['AttackIndication'] }}</h1>
        <p class="mb-1">attack indication</p>
    </div>
    <div class="col-5"></div>
    <div class="col-1">
        <h1 class="number mb-1 mt-2">{{ types['DataLeakage'] }}</h1>
        <p class="mb-1">data leakage</p>
    </div>
    <div class="col-5"></div>
</div>

<div class="row content">
    <div class="col-1 ml-2">
        <h1 class="number mb-1 mt-2">{{ types['Phishing'] }}</h1>
        <p class="mb-1">phishing</p>
    </div>
    <div class="col-5"></div>
    <div class="col-1">
        <h1 class="number mb-1 mt-2">39</h1>
        <p class="mb-1">brand security</p>
    </div>
    <div class="col-5"></div>
</div>

<div class="row content">
    <div class="col-1 ml-2">
        <h1 class="number mb-1 mt-2">{{ types['ExploitableData'] }}</h1>
        <p class="mb-1">exploitable data&trade;</p>
    </div>
    <div class="col-5"></div>
    <div class="col-1">
        <h1 class="number mb-1 mt-2">{{ types['vip'] }}</h1>
        <p class="mb-1">VIP</p>
    </div>
    <div class="col-5"></div>
</div>
